:root {
  --accent-color: #2196f3;
  --sub-color: #757575;
  --contact-color: #757575;
  --white-color: #ffffff;
  --portfolio-backgrnd: #f5f4fa;
  --black-color: #212121;
  --transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --back-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
}

address {
  font-style: normal;
}

.link {
  color: #212121;
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.flex {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  min-width: 145px;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

/* site nav */
.menu__list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-color);
  display: flex;
  min-width: 294px;
}

.menu__link {
  display: block;
  transition: var(--transition);
}

.menu__list .link:hover,
.menu__list .link:focus {
  color: var(--accent-color);
}

.menu__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__list {
  display: flex;
  margin-left: auto;
}

.contact__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: var(--transition);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  text-align: center;
}

.hero__overlay {
  background-color: #2f303a;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/main_paige/comand.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 696px;
  margin: 0 auto;
}

.c-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px 0;
}

.hero__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  min-width: 200px;
}

.gallery {
  min-width: 1170px;
  padding-bottom: 94px;
}

.gallery__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0 auto;
}

.gallery__list {
  display: flex;
  margin-top: 50px;
}

.gallery__item {
  max-width: 370px;
  position: relative;
  overflow: hidden;
}
.gallery__item:not(:last-child) {
  margin-right: 30px;
}

.gallery__item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.about__list {
  display: flex;
  padding: 94px 0px 94px 0px;
}

.about__item:not(:last-child) {
  max-width: 270px;
  margin-right: 30px;
}

.about__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.about__article {
  color: var(--sub-color);
  line-height: 1.71;
  margin-top: 10px;
}

.team {
  background-color: #f5f4fa;
  padding: 94px 0 94px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0 auto;
  max-width: 264px;
}

.team-list {
  display: flex;
  margin-top: 50px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-article {
  font-size: 16px;
  line-height: 1.18;
  color: var(--sub-color);
  margin-top: 10px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.team-soc-item:last-child {
  margin-right: 0;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white-color);
  color: #afb1b8;
  transition: var(--transition), var(--back-transition);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.team-soc-icon {
  fill: currentColor;
}

.team-container {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px 0 30px 0;
  background-color: var(--white-color);
}

.client {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  max-width: 390px;
  margin: 0 auto;
  color: var(--black-color);
}

.client-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.client-soc-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.client-soc-item:last-child {
  margin-right: 0;
}
.client-soc-item:hover, .client-soc-item:focus {
  background-color: var(--white-color);
  color: var(--accent-color);
  outline: 1px solid var(--accent-color);
  border-radius: 4px;
}

.client-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #afb1b8;
  outline: 1px solid #afb1b8;
  border-radius: 4px;
  transition: var(--transition), var(--back-transition), outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-soc-link:hover,
.client-soc-link :focus {
  background-color: var(--white-color);
  color: var(--accent-color);
  outline: 1px solid var(--accent-color);
  border-radius: 4px;
}

.client-soc-icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.footer-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrapper-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
  max-width: 145px;
}

.footer-wrapper-adress {
  margin-top: 20px;
  max-width: 231px;
}

.footer-wrapper-adress-item,
.footer--wrapper-contact {
  margin-top: 9px;
}

.footer-wrapper-adress-item > a {
  font-style: normal;
  text-decoration: none;
  color: var(--white-color);
}

.footer--wrapper-contact > a {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: var(--transition);
}
.footer--wrapper-contact > a:hover, .footer--wrapper-contact > a:focus {
  display: block;
  color: var(--accent-color);
}

.footer-soc {
  margin-left: 70px;
  align-items: baseline;
}

.footer-soc-title {
  width: 144px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-soc-item:last-child {
  margin-right: 0;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  transition: var(--transition), var(--back-transition);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-form {
  display: block;
  margin-top: 0;
  width: 570px;
}

.footer-form-div {
  display: flex;
  height: 50px;
  width: 570px;
  margin-left: 93px;
  margin-top: 20px;
}

.footer-form-field {
  margin-left: 93px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--white-color);
  text-transform: uppercase;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  color: var(--white-color);
}

.footer-form-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 200px;
}

.footer-form-icon {
  fill: var(--white-color);
  margin-left: 10px;
}

.header-portf {
  border-bottom: 1px solid #ececec;
}

.portfolio-filter .container {
  flex-direction: column;
}

.portfolio-filter {
  margin-bottom: 34px;
}

.main-portfolio {
  padding: 94px 0 94px 0;
}

.portlio-btn-list {
  display: flex;
  min-width: 611px;
  justify-content: center;
}

.portlio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portlio-btn-item > button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-backgrnd);
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  text-align: center;
  transition: var(--transition), var(--back-transition), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portlio-btn-item > button:hover,
.portlio-btn-item > button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-image {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-image-item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
  outline: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-image-item:nth-child(-n+3) {
  margin-top: 50px;
}
.portfolio-image-item:hover, .portfolio-image-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-image-item:hover .portfolio-image-hidden-text {
  transform: translateY(0);
}

.portfolio-image-wrapp {
  position: relative;
  overflow: hidden;
}

.portfolio-image-hidden-text {
  position: absolute;
  top: 0;
  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-inf-wrapper {
  padding: 20px 24px 20px 24px;
}

.portfolio-img-subtitle {
  margin-top: 4px;
}

.portfolio-imgtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-img-subtitle {
  font-size: 16px;
  line-height: 1.88;
  color: var(--contact-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  border-radius: 4px;
  transition: transform 250ms linear;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  max-width: 448px;
}

.modal-label {
  display: block;
  cursor: pointer;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--sub-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 12px 42px;
  outline: transparent;
  transition: var(--transition);
}
.modal-input:focus, .modal-input:hover {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon,
.modal-input:hover + .input-icon {
  fill: var(--accent-color);
}

.input-wrap {
  position: relative;
  margin-top: 4px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-field {
  padding-left: 12px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-field:not(:first-child) {
  margin-top: 10px;
}

.agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.modal-btn {
  display: block;
  margin: 0 auto;
}

.modal-text-area {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #212121;
  outline: transparent;
  transition: var(--transition);
}
.modal-text-area:hover, .modal-text-area:focus {
  border-color: var(--accent-color);
}

.check-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--sub-color);
  display: flex;
  align-items: center;
}
.check-text:before {
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border-radius: 2px;
  border: 2px solid var(--black-color);
}

.check-text > a {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  background-image: url(../image/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.submit-button {
  align-self: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: var(--accent-color);
  padding: 0;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  margin-top: 30px;
}

.modal-text-area::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}/*# sourceMappingURL=main.css.map */