* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
a {
  color: currentColor;
}
address {
  font-style: normal;
}
.link {
  color: #212121;
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
:root {
  --accent-color: #2196f3;
  --sub-color: #757575;
  --contact-color: #757575;
  --wight-color: #ffffff;
  --portfolio-backgrnd: #f5f4fa;
  --transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --back-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*-------------------------------HEADER (main paige & portfolio----------------*/
.flex {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: #000000;

  min-width: 145px;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logoweb {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

/* site nav */
.header-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
  display: flex;
  min-width: 294px;
}

.header-nav-link {
  display: block;
  transition: var(--transition);
}
.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--accent-color);
}
.header-nav-item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--contact-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: var(--transition);
}
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}
.header-contact-item:not(:last-child) {
  margin-right: 50px;
}
.header-contact {
  display: flex;
  margin-left: auto;
}
.contact-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* ------------------------MAIN HERO (main page)---------------------- */
/* hero */
.main-hero {
  text-align: center;
}
.overlay {
  background-color: #2f303a;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/main_paige/comand.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-heroartcl {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--wight-color);

  max-width: 696px;
  margin: 0 auto;
}
.main-herobtn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--wight-color);
  background-color: var(--accent-color);

  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  min-width: 200px;
}
.c-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px 0;
}
.tdesc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;

  background-color: #f5f4fa;
}
/* --------------------контейнер (main page)---------------------- */
.main-container {
  display: flex;
  padding: 94px 0px 94px 0px;
}
.main-container-item:not(:last-child) {
  max-width: 270px;
  margin-right: 30px;
}

.main-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.about-mtitle {
  color: var(--sub-color);
  line-height: 1.71;

  margin-top: 10px;
}

/* --------------------чем мы занимаемся (main page)---------------------- */
.main-subtitle {
  min-width: 1170px;
  padding-bottom: 94px;
}

.about-msubtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  text-align: center;
  margin: 0 auto;
}

.main-subtitle-list {
  display: flex;
  margin-top: 50px;
}
.about-process {
  max-width: 370px;
  position: relative;
  overflow: hidden;
}
.about-process:not(:last-child) {
  margin-right: 30px;
}

.about-process-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}
/* --------------------команда (main page)---------------------- */
.about-team {
  background-color: #f5f4fa;
  padding: 94px 0 94px 0;
}
.team-container {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0 auto;
  max-width: 264px;
}
.about-teamcomand {
  display: flex;
  margin-top: 50px;
}
.about-teamcomand-item:not(:last-child) {
  margin-right: 30px;
}

.subtitle-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.ptitle-team {
  font-size: 16px;
  line-height: 1.18;
  color: var(--sub-color);
  margin-top: 10px;
}
.team-container {
  text-align: center;
  padding: 30px 0 30px 0;
  background-color: #ffffff;
}
.command-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.command-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.command-soc-item:last-child {
  margin-right: 0;
}
.command-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
  transition: var(--transition), var(--back-transition);
}
.command-soc-icon {
  fill: currentColor;
}
.command-soc-link:hover,
.command-soc-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
/* ---------------------------Постоянные клиенты---------------- */
.client {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-mclient {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  max-width: 390px;
  margin: 0 auto;

  color: #212121;
}
.client-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.client-soc-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.client-soc-item:last-child {
  margin-right: 0;
}
.client-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #afb1b8;
  outline: 1px solid #afb1b8;
  border-radius: 4px;
  transition: var(--transition), var(--back-transition),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-soc-icon {
  fill: currentColor;
}
.client-soc-link:hover,
.client-soc-link:focus,
.client-soc-item:hover,
.client-soc-item:focus {
  background-color: #ffffff;
  color: #2196f3;
  outline: 1px solid #2196f3;
  border-radius: 4px;
}
/* ---------------------------FOOTER (main page & portfolio)---------------- */
.fcontacts {
  background-color: #2f303a;
}
.footer-left-info {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--wight-color);
  max-width: 145px;
}
.footer-adress {
  margin-top: 20px;
  max-width: 231px;
}
.adress-item,
.footer-contact {
  margin-top: 9px;
}
.adress-item > a {
  font-style: normal;
  text-decoration: none;
  color: var(--wight-color);
}
.footer-contact > a {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: var(--transition);
}
.footer-contact :hover,
.footer-contact :focus {
  display: block;
  color: var(--accent-color);
}
.footer-soc-info {
  margin-left: 70px;
  align-items: baseline;
}
.footer-soc-message {
  width: 144px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-soc-item:last-child {
  margin-right: 0;
}
.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: var(--transition), var(--back-transition);
}
.footer-soc-icon {
  fill: currentColor;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* ----------------------------PORTFOLIO MAIN-------------------- */
.header-portf {
  border-bottom: 1px solid #ececec;
}
.portfolio-filter .container {
  flex-direction: column;
}
.portfolio-filter {
  margin-bottom: 34px;
}
.main-portfolio {
  padding: 94px 0 94px 0;
}
.portfbtn-list {
  display: flex;
  min-width: 611px;
  justify-content: center;
}
.portfbtn-item:not(:last-child) {
  margin-right: 8px;
}

.portfbtn-item > button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  background-color: var(--portfolio-backgrnd);

  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  text-align: center;
  transition: var(--transition), var(--back-transition),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfbtn-item > button:hover,
.portfbtn-item > button:focus {
  background-color: var(--accent-color);
  color: var(--wight-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* -------------portfolio projects--------*/

.portf-image-l {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portf-item-image {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  outline: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-item-image:nth-child(-n + 3) {
  margin-top: 50px;
}
.portf-item-image:hover,
.portf-item-image:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portf-item-image:hover .portf-image-top-text {
  transform: translateY(0);
}
.portf-image-wrapp {
  position: relative;
  overflow: hidden;
}
.portf-image-top-text {
  position: absolute;
  top: 0;
  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--wight-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-inf-list {
  padding: 20px 24px 20px 24px;
}
.portf-img-subtitle {
  margin-top: 4px;
}
.portf-imgtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portf-img-subtitle {
  font-size: 16px;
  line-height: 1.88;

  color: var(--contact-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  transition: transform 250ms linear;
}
.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
