.footer {
  background-color: #2f303a;
}
.footer-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-wrapper-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
  max-width: 145px;
}
.footer-wrapper-adress {
  margin-top: 20px;
  max-width: 231px;
}
.footer-wrapper-adress-item,
.footer--wrapper-contact {
  margin-top: 9px;
}
.footer-wrapper-adress-item > a {
  font-style: normal;
  text-decoration: none;
  color: var(--white-color);
}
.footer--wrapper-contact > a {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: var(--transition);
  &:hover,
  &:focus {
    display: block;
    color: var(--accent-color);
  }
}
.footer-soc {
  margin-left: 70px;
  align-items: baseline;
}
.footer-soc-title {
  width: 144px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  transition: var(--transition), var(--back-transition);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}
.footer-soc-icon {
  fill: currentColor;
}
