* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
a {
  color: currentColor;
}
address {
  font-style: normal;
}
.link {
  color: #212121;
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
